.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
}

.Picto {
  width: 60px;
  height: 60px;
}

.PictoMonu {
  width: 50px;
  height: 50px;
}

marker{
  size: 20px;
}
.map{
  height: 460px;
  width: 100%;
  margin: auto;
}

.App-header {
  background-color: lightseagreen;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 0px;
  margin-top: 0px;
}

.BarreBouton {
  width: 100%;
}

.BoutonMenu {
  width: 33%;
  color: lightseagreen;
}

.BoutonMenuSelec {
  width: 33%;
  background-color: darkslategrey;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-footer {
  position: fixed;
  height: 90px;
  bottom: 0;
  width: 100%;
  background-color: darkslategrey;
}

h1{
  padding-top: 20px;
  padding-bottom: 10px;
  color: lightseagreen;
}

.liste{
  text-align: center;
  border-width: 3px;
  border-style: solid;
  border-color: lightseagreen;
  border-radius: 20px;
  margin-top: 2%;
  margin-left: 25%;
  margin-right: 25%;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: lightseagreen;
  color: white;
}

.sep{
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: white;
  margin-left: 15px;
  margin-right: 15px;
}

.last {
  padding-top: 20px;
}